* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 15%;
}

button {
    border: none;
    background: none;
    opacity: 0.8;
}

button:active {
    opacity: 1;
}

button:hover {
    opacity: 0.6;
}


.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template:
        'header header header header' auto
        'left-menu main settings right-menu' 1fr/
        150px 1fr 150px 70px;
}

.header {
    grid-area: header;
    place-items: start;
    display: grid;
    padding: 1rem;
    background-color: rgb(208, 187, 187);
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.left-header{
    place-content: center;

}

.left-menu {
    grid-area: left-menu;
    padding: 1rem;
    background-color: rgb(242, 202, 150);
    display: grid;
}

.main {
    grid-area: main;
    padding: 1rem;
    background-color: rgb(154, 131, 102);
    display: grid;
}

.settings {
    grid-area: settings;
    padding: 1rem;
    background-color: aqua;
    display: grid;
}

.right-menu {
    grid-area: right-menu;
    padding: 1rem;
    background-color: rgb(234, 156, 54);
    display: grid;
}